<!DOCTYPE HTML>
<html lang="en">


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title> {% block Title %} {% endblock %} }</title>

    {% block Sheets %}

        <!--Custome Style -->
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css">

    {% endblock %}

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset('images/favicon-icon/apple-touch-icon-144-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset('images/favicon-icon/apple-touch-icon-144-precomposed.html') }}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset('images/favicon-icon/apple-touch-icon-72-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" href="{{ asset('images/favicon-icon/apple-touch-icon-57-precomposed.png') }}">
    <link rel="shortcut icon" href="{{ asset('images/favicon-icon/favicon.png') }}">
    <!-- Google-Font-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<!--Header-->
<header>
    <div class="default-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-md-2">
                    <div class="logo"> <a href="{{ path('template_homepage') }}"><img src="{{ asset('images/logo1.png') }}" alt="image"/></a> </div>
                </div>
                <div class="col-sm-9 col-md-10">
                    <div class="header_info">
                        <div class="header_widgets">
                            <div class="circle_icon"> <i class="fa fa-envelope" aria-hidden="true"></i> </div>
                            <p class="uppercase_text">For Support Mail us : </p>
                            <a href="mailto:info@example.com">karhabtyapplication@gmail.com</a> </div>
                        <div class="header_widgets">
                            <div class="circle_icon"> <i class="fa fa-phone" aria-hidden="true"></i> </div>
                            <p class="uppercase_text">Service Helpline Call Us: </p>
                            <a href="tel:61-1234-5678-09">+21692339150</a> </div>
                        <div class="social-follow">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                        <div class="login_btn"> <a href="#loginform" class="btn btn-xs uppercase" data-toggle="modal" data-dismiss="modal">Login / Register</a> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Navigation -->
    <nav id="navigation_bar" class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button id="menu_slide" data-target="#navigation" aria-expanded="false" data-toggle="collapse" class="navbar-toggle collapsed" type="button"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            </div>
            <div class="header_wrap">
                <div class="user_login">
                    <ul>
                        <li class="dropdown"> <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user-circle" aria-hidden="true"></i> User Name <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="profile-settings.html">Profile Settings</a></li>
                                <li><a href="my-vehicles.html">My Vehicles</a></li>
                                <li><a href="post-vehicle.html">Post a Vehicle</a></li>
                                <li><a href="{{ path('reclamation_contactus') }}">Contact US</a></li>
                                <li><a href="#">Sign Out</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="header_search">
                    <div id="search_toggle"><i class="fa fa-search" aria-hidden="true"></i></div>
                    <form action="#" method="get" id="header-search-form">
                        <input type="text" placeholder="Search..." class="form-control">
                        <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </form>
                </div>
            </div>
            <div class="collapse navbar-collapse" id="navigation">
                <ul class="nav navbar-nav">
                    <li class="dropdown"><a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Home</a>
                        <ul class="dropdown-menu">
                            <li><a href="index.html">Home Page 1</a></li>
                            <li><a href="index-2.html">Home Page 2</a></li>
                        </ul>
                    </li>
                    <li><a href="{{ path('template_AbouUs') }}">About Us</a></li>
                    <li class="dropdown"><a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">driving school</a>
                        <ul class="dropdown-menu">
                            <li><a href="GridStyle.html">Driving Courses</a></li>
                            <li><a href="detailPageStyle2.html">Driving Tests</a></li>

                        </ul>
                    </li>
                    <li class="dropdown"><a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Announcements</a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ asset('app_dev.php/annonce/afficherannonce') }}">All Announcements </a></li>
                            <li><a href="dealers-profile.html">Comparator</a></li>
                        </ul>
                    </li>

                    <li class="dropdown"><a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">News</a>
                        <ul class="dropdown-menu">
                            <li><a href="blog-left-sidebar.html">All News</a></li>
                            <li><a href="blog-right-sidebar.html">Events</a></li>
                            <li><a href="blog-detail.html">auction</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Navigation end -->

</header>
<!-- /Header -->

{% block PageHeader %}

{% endblock %}

{% block Content %}


{% endblock %}

<!--Brands-->
<section class="brand-section gray-bg">
    <div class="container">
        <div class="brand-hadding">
            <h5>Popular Brands</h5>
        </div>
        <div class="brand-logo-list">
            <div id="popular_brands">
                <div><a href="#"><img src="{{ asset('images/brand-logo-1.png') }}" class="img-responsive" alt="image"></a></div>
                <div><a href="#"><img src="{{ asset('images/brand-logo-2.png') }}" class="img-responsive" alt="image"></a></div>
                <div><a href="#"><img src="{{ asset('images/brand-logo-3.png') }}" class="img-responsive" alt="image"></a></div>
                <div><a href="#"><img src="{{ asset('images/brand-logo-4.png') }}" class="img-responsive" alt="image"></a></div>
                <div><a href="#"><img src="{{ asset('images/brand-logo-5.png') }}" class="img-responsive" alt="image"></a></div>
            </div>
        </div>
    </div>
</section>
<!-- /Brands-->

<!--Footer -->
<footer>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <h6>Top Categores</h6>
                    <ul>
                        <li><a href="#">Crossovers</a></li>
                        <li><a href="#">Hybrids</a></li>
                        <li><a href="#">Hybrid Cars</a></li>
                        <li><a href="#">Hybrid SUVs</a></li>
                        <li><a href="#">Concept Vehicles</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6">
                    <h6>About Us</h6>
                    <ul>
                        <li><a href="#">Privacy</a></li>
                        <li><a href="#">Hybrid Cars</a></li>
                        <li><a href="#">Cookies</a></li>
                        <li><a href="#">Trademarks</a></li>
                        <li><a href="#">Terms of use</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6">
                    <h6>Useful Links</h6>
                    <ul>
                        <li><a href="#">Our Partners</a></li>
                        <li><a href="#">Careers</a></li>
                        <li><a href="#">Sitemap</a></li>
                        <li><a href="#">Investors</a></li>
                        <li><a href="#">Request a Quote</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6">
                    <h6>Subscribe Newsletter</h6>
                    <div class="newsletter-form">
                        <form action="#">
                            <div class="form-group">
                                <input type="email" class="form-control newsletter-input" required placeholder="Enter Email Address" />
                            </div>
                            <button type="submit" class="btn btn-block">Subscribe <span class="angle_arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></span></button>
                        </form>
                        <p class="subscribed-text">*We send great deals and latest auto news to our subscribed users very week.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-push-6 text-right">
                    <div class="footer_widget">
                        <p>Download Our APP:</p>
                        <ul>
                            <li><a href="#"><i class="fa fa-android" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-apple" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                    <div class="footer_widget">
                        <p>Connect with Us:</p>
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-md-pull-6">
                    <p class="copy-right">Copyright &copy; 2017 Karhabty. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- /Footer-->

<!--Back to top-->
<div id="back-top" class="back-top"> <a href="#top"><i class="fa fa-angle-up" aria-hidden="true"></i> </a> </div>
<!--/Back to top-->

{% block fos_user_content %}
    {{ render(controller('FOSUserBundle:Security:login')) }}
{% endblock fos_user_content %}

{% block registration_content %}
    {{ render(controller('FOSUserBundle:Registration:register')) }}
{% endblock registration_content %}
<!--Login-Form -->

<!--/Login-Form -->

<!--Register-Form -->

<!--/Register-Form -->

<!--Forgot-password-Form -->

<!--/Forgot-password-Form -->

{% block Script %}

{% endblock %}


</body>

</html>