{% extends '::base.html.twig' %}

{% block Title %}
    Welcome - Karhabty
{% endblock %}

     {% block Sheets %}
        {{ parent() }}
        <!--Bootstrap -->
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" type="text/css">
        <!--Custome Style -->
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css">
        <!--OWL Carousel slider-->
        <link rel="stylesheet" href="{{ asset('css/owl.carousel.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ asset('css/owl.transitions.css') }}" type="text/css">
        <!--slick-slider -->
        <link href="{{ asset('css/slick.css') }}" rel="stylesheet">
        <!--bootstrap-slider -->
        <link href="{{ asset('css/bootstrap-slider.min.css') }}" rel="stylesheet">
        <!--FontAwesome Font Style -->
        <link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet">
    {% endblock %}


{% block PageHeader %}

    <!-- Banners -->
    <section  class="cc-section">
         <div class="container">
                <div class="div_zindex">
               <div class="row">
                    <div class="col-md-5 col-md-push-7">
                        <div class="banner_content1">

                        <h1>Learning to drive .</h1>
                            <p><strong>Check out the Tunisian Road Code below and get ready to nail your learner's test</strong> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /Banners -->

{% endblock %}

{% block Content %}



    <!-- About -->
    <section class="about-us-section section-padding">
        <div class="container">
            <div class="section-header text-center">
                <h2>Tunisian Road Code </h2>
                <p>Select a chapter from the Road Code and work your way through the units. Each time you complete a unit or a chapter we'll update your progress.
                </p>
            </div>
            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <div class="looking-car">
                        <div class="looking-cat-image"> <img src="{{ asset('images/Module-Icons-1.8-JS-Traffic-lights.png') }}" alt="Image" /> </div>
                        <div class="looking-car-content">
                            <h3>About <span>Traffic lights</span></h3> <br>

                            <a href="#feu" class="btn">See Over<i class="fa fa-chevron-circle-right" aria-hidden="true"></i></a> </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <div class="looking-car">
                        <div class="looking-cat-image"> <img src="{{ asset('images/Module-Icons-1.8-JS-About-Signs.png') }}" alt="Image" /> </div>

                            <h3>About <span> Road signs</span></h3><br>

                            <a href="#priorite" class="btn">See Over<i class="fa fa-chevron-circle-right" aria-hidden="true"></i></a> </div>
                    </div>
                </div>

                <div class="col-lg-6 col-sm-6">
                    <div class="looking-car">
                        <div class="looking-cat-image"> <img src="{{ asset('images/Module-Icons-1.8-JS-Speed-limits.png') }}" alt="Image" /> </div>
                        <div class="looking-car-content">
                            <h3>About <span>Speed limits and signs</span></h3> <br>

                            <a href="#speed" class="btn">See Over<i class="fa fa-chevron-circle-right" aria-hidden="true"></i></a> </div>
                    </div>
                </div>
            <div class="col-lg-6 col-sm-6">
                <div class="looking-car">
                    <div class="looking-cat-image"> <img src="{{ asset('images/Module-Icons-1.8-JS-Your-licence.pngdrivib') }}" alt="Image" /> </div>
                    <div class="looking-car-content">
                        <h3>Free <span>Test</span></h3> <br>

                        <a href="{{ asset('app_dev.php/auto/') }}" class="btn">Ready to pass <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></a> </div>
                </div>
            </div>

            </div>


        </div>
        <div class="section-header text-center">
            <a href="{{ asset('app_dev.php/auto/pdf') }}" class="btn">Get it PDF</a> </div>
    </section>
    <!-- /About -->

    <!-- About -->
    <section id="feu" class="about-us-section section-padding">
        <div class="container">
            <div class="section-header text-center">
                <h2>OBJECTIVE OF Trafic lights section</h2>
                <p>
                    The objective of this section is to let you know, in what case and according to the places and circumstances, which lights to use, night and day when visibility is low.
                    <br>
                    Every driver must, during the night and whenever the conditions of visibility require it by day, make use of the lights relating to the equipment and the arrangement of the vehicles.
                    <br>
                    In order to drive safely, it is imperative that you have good visibility. It means two things:
                      <br>  
                    - to see the other users, thanks to its lighting (low beam for example)
<br>
                    - be well seen by other users thanks to its lighting and signaling
                </p>
                <a href="{{ asset('app_dev.php/auto/courstrafic#courstrafic') }}" class="btn">Lessons</a> </div>

        </div>
        </div>
    </section>
    <!-- /About -->
    <!-- About -->
    <section id="priorite" class="about-us-section section-padding">
        <div class="container">
            <div class="section-header text-center">
                <h2>OBJECTIVE OF Road signs section</h2>
            <p>The intersection is certainly the situation that requires the utmost vigilance and the greatest respect for implicit and explicit rules: (priority right, the lights, the stop, give way)
                 <br>
                This section aims to:<br>
                To define the rules of priorities in the different cases of intersections, namely:<br>
                Intersections:<br>
                • with and without panels<br>
                • in roundabout<br>
                • with fires<br>
                Each of these intersections is governed by specific rules that you must learn and apply.This will ensure:<br>

                - better flow of traffic<br>
                - the safety of all road users<br></p>
                <a href="{{ asset('app_dev.php/auto/coursroad#coursroad') }}" class="btn">Lessons</a> </div>

        </div>
        </div>
    </section>
    <!-- /About -->
    <!-- About -->
    <section id="speed" class="about-us-section section-padding">
        <div class="container">
            <div class="section-header text-center">
                <h2>OBJECTIVE OF Speed limits section</h2>
                <p>
                    To stay in control of your vehicle as required by the rules of the road, it is necessary to know how to estimate the distance needed to stop your vehicle in an emergency situation.
                    <br>
                    To give oneself the means to control his speed makes it possible to increase the security of each one.
                    <br>
                    In this section you will learn how to calculate:<br>
                         stopping distance<br>
                         the reaction distance<br>
                         the safety distance<br>
                </p>
                <a href="{{ asset('app_dev.php/auto/coursspeed#coursspeed') }}" class="btn">Lessons</a> </div>

        </div>
        </div>
    </section>
    <!-- /About -->






    <!-- /Blog-->

{% endblock %}

{% block Script %}

    <!-- Scripts -->
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/interface.js') }}"></script>
    <!--bootstrap-slider-JS-->
    <script src="{{ asset('js/bootstrap-slider.min.js') }}"></script>
    <!--Slider-JS-->
    <script src="{{ asset('js/slick.min.js') }}"></script>
    <script src="{{ asset('js/owl.carousel.min.js') }}"></script>

{% endblock %}




